.BookmarkList {
    width: 600px;
    background-color: #fff;
    display: block;
    margin: auto;
    border-radius: 4px;
    margin-top: 30px;
    padding-top: 2px;
}

.BookmarkList ul {
    max-height: 300px;
    overflow-y: auto;
}

.BookmarkList-listItem {
    border-top: solid 1px rgba(0, 0, 0, 0.12);
}
